#about {
  height: 100vh;
  min-height: 100%;
  background-color: #121619;
  padding-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bracket {
  height: 6rem;
  width: 3rem;
}

#about h3 {
  color: #ecf39e;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  margin: 0 1rem;
}

#about p {
  text-align: center;
  color: #fefae0;
  font-size: 1.35rem;
  padding: 2rem 3rem;
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 800px;
  line-height: 2;
  letter-spacing: 0.08rem;
}

.buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
}

.buttons a {
  color: #ecf39e;
  background-color: rgba(24, 116, 152, .4);
  font-size: 1.25rem;
  text-align: center;
  padding:0.75rem 1.5rem;
  width: 100px;
  border: 3px solid #187498;
  border-radius: 0.5rem;
  text-decoration: none;
  box-shadow: inset -0.4rem -0.3rem #121619;
  letter-spacing: 0.08rem;
}

.buttons button {
  color: #ecf39e;
  background-color: rgba(24, 116, 152, .4);
  font-size: 1.25rem;
  text-align: center;
  padding:0.75rem 1.5rem;
  width: 154px;
  border: 3px solid #187498;
  border-radius: 0.5rem;
  box-shadow: inset -0.4rem -0.3rem #121619;
  letter-spacing: 0.08rem;
}

.buttons button:focus,
.buttons button:hover {
  cursor: pointer;
  background-color: #121619;
  color: #fefae0;
  border: 3px solid #ecf39e;
  outline: none;
}

.buttons a:hover,
.buttons a:focus {
  background-color: #121619;
  color: #fefae0;
  border: 3px solid #ecf39e;
  outline: none;
}

.image {
  max-width: 1000px;
  width: 100%;
  height: 250px;
  margin: 3rem auto;
}

@media only screen and (max-width: 640px) {

  #about {
    padding-top: 2rem;
  }

  #about h3 {
    font-size: 3rem;
  }

  #about p {
    font-size: 1.15rem;
    padding: 1rem 2rem;
  }

  .bracket {
    height: 5rem;
    width: 2rem;
  }

  .buttons a {
    font-size: 1rem;
    padding:0.6rem 1.25rem;
  }

  .buttons button {
    font-size: 1rem;
    padding:0.6rem 1.25rem;
  }

  .image {
    height: 200px;
    width: 100%;
    margin: 2rem auto;
  }
}

@media only screen and (min-width: 1500px){
  .bracket {
    height: 7rem;
    width: 4rem;
  }

  #about h3 {
    font-size: 4.5rem;
  }

  #about p {
    font-size: 1.5rem;
    padding: 3rem;
  }

  .buttons a {
    padding: 1rem 2.5rem;
    font-size: 1.45rem;
  }

  .buttons button {
    padding: 1rem 2.5rem;
    font-size: 1.45rem;
    width: 186px;
  }
}