#about {
  height: 100vh;
  background-color: #343d40;
}

h3 {
  color: #fff56d;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  padding-top: 2.5rem;
}

p {
  color: #fff56d;
  font-size: 1.25rem;
  padding: 4rem 3rem;
  margin: 0 auto;
  max-width: 800px;
  line-height: 2;
}

.buttons {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}

.buttons button {
  padding: 5px 7px;
  width: 100px;
}

@media only screen and (max-width: 500px) {
  h3 {
    font-size: 3rem;
  }

  p {
    font-size: 1.15rem;
  }
}
