#about {
  min-height: 100vh;
  background-color: #343d40;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
}

.bracket {
  height: 6rem;
  width: 3rem;
}

#about h3 {
  color: #fff56d;
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  margin: 0 1rem;
}

#about p {
  color: white;
  font-size: 1.25rem;
  padding: 4rem 3rem;
  border-radius: 1rem;
  margin: 0 auto;
  max-width: 800px;
  line-height: 2;
}

.buttons {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
}

.buttons a {
  color: #fff56d;
  font-size: 1.25rem;
  text-align: center;
  padding: 7px 9px;
  width: 100px;
  border: 3px solid #628d8b;
  border-radius: 0.5rem;
  text-decoration: none;
}

.buttons a:hover,
.buttons a:focus {
  background-color: #628d8b;
  color: white;
}

.icon {
  color: #fff56d;
  margin-right: 0.5rem;
}

.image {
  max-width: 1000px;
  width: 100%;
  height: 250px;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media only screen and (max-width: 500px) {
  .bracket {
    height: 5rem;
    width: 2rem;
  }

  #about h3 {
    font-size: 3rem;
  }

  #about p {
    font-size: 1.15rem;
  }
}
