.skills {
  font-size: 1.15rem;
  max-width: 800px;
  width: 80%;
  margin: 4rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills ul {
  list-style-type: none;
}

.skills li {
  color: #fefae0;
  margin-top: 1.5rem;
}

.icon {
  color: #ecf39e;
  margin-right: 0.5rem;
}

@media only screen and (max-width: 500px) {
  .skills {
    font-size: 0.9rem;
    margin: 3rem auto;
  }
}

@media only screen and (min-width: 1500px){
  .skills {
    font-size: 1.25rem;
  }
}
