.skills {
  font-size: 1.15rem;
  max-width: 800px;
  width: 90%;
  height: 250px;
  margin: 3rem auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skills ul {
  list-style-type: none;
  width: 100%;
  margin-left: 11%;
}

.skills li {
  color: #fefae0;
  margin-bottom: 1.5rem;
}

.icon {
  color: #ecf39e;
  margin-right: 0.5rem;
}

.icon:hover {
  color: #187498;
}
@media only screen and (max-width: 640px) {
  .skills {
    font-size: 0.85rem;
    margin: 2rem auto;
    height: 200px;
  }

  .skills ul {
    margin-left: 8%;
  }
}

@media only screen and (min-width: 1500px){
  .skills {
    font-size: 1.25rem;
  }
}


@media only screen and (max-width: 415px) {
  .skills {
    width: 90%;
  }

  .skills ul {
    margin-left: 5%;
  }
}
