.home {
  height: 100vh;
  background-color: rgba(29, 31, 30, 255);
  display: flex;
  align-items: center;
}

aside {
  width: 30%;
  z-index: 100;
  overflow: visible;
}

.home h1 {
  font-size: 5rem;
  color: rgba(247, 246, 241, 255);
  margin-left: 4rem;
  font-family: "Raleway", sans-serif;
}

.last {
  width: 300px;
  border-bottom: 10px solid rgba(255, 225, 132, 255);
}

.home h2 {
  font-size: 2.5rem;
  margin-left: 4rem;
  color: rgba(247, 246, 241, 255);
  margin-top: 1rem;
  font-family: "Cabin Sketch", cursive;
  overflow: visible;
  white-space: nowrap;
  width: 100%;
}

img {
  width: 70%;
  min-width: 240px;
  height: 100%;
  position: relative;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .home h1 {
    font-size: 4rem;
    margin-left: 2rem;
  }

  .home h2 {
    font-size: 2rem;
    margin-left: 2rem;
  }

  .last {
    width: 200px;
  }
}
