footer {
  background-color: #343d40;
  display: flex;
  max-width: 800px;
}

h3 {
  color: white;
}

footer h4 {
  color: #fff56d;
}

footer .info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .title {
  width: 50%;
  display: flex;
  flex-direction: column;
}
