footer {
  background-color: #121619;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

footer ul {
  list-style-type: none;
  color: #fff56d;
}

footer ul li {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

footer li a {
  text-decoration: none;
  color: inherit;
}

footer li a:visited {
  text-decoration: none;
  color: inherit;
}

footer li a:hover,
footer li a:focus {
  color: white;
  outline: none;
  cursor: pointer;
}

.footer-icon {
  margin-right: 0.5rem;
}

@media only screen and (max-width: 500px) {
  footer ul li {
    margin-bottom: 1.2rem;
    font-size: 1rem;
  }
}
