/* uncomment for attached nav bar */
nav {
  position: absolute;
  /* position: fixed;
  top: 0;  */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 75px;
  width: 100vw;
  z-index: 100;
  background-color:rgba(18,22,25,0.25);
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav li a {
  color: #fefae0;
  font-size: 1.15rem;
  font-weight: bolder;
  padding: 1rem 2rem;
  text-decoration: none;
  margin-right: 2.5rem;
  border-radius: 0.5rem;
}

nav li a:hover,
nav li a:focus {
  color: #ecf39e;
  background-color: rgba(18,22,25,0.5);
  outline: none;
  font-size: 1.25rem;
  box-shadow: 0.25rem 0.25rem #187498;
}

@media only screen and (max-width: 810px) {
  nav {
    margin-right: 0;
  }

  nav ul {
    width: 100vw;
    justify-content: space-around;
  }

  nav li a {
    margin-right: 0;

  }
}
