nav {
  color: black;
  position: absolute;
  top: 2rem;
  height: 100px;
  width: 100vw;
  z-index: 100;
}

ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

li a {
  font-family: "Raleway", sans-serif;
  font-size: 1.15rem;
  font-weight: bolder;
  padding: 10px;
  text-decoration: none;
  color: rgba(247, 246, 241, 255);
  margin-right: 2.5rem;
}

li a:hover,
li a:focus {
  color: #fff56d;
  text-decoration: underline;
  outline: none;
}

@media only screen and (max-width: 500px) {
  nav {
    margin-right: 0;
  }

  ul {
    justify-content: space-around;
  }

  li a {
    margin-right: 0;
    padding: 2rem;
  }
}
