/* uncomment for attached nav bar */
nav {
  position: absolute;
  /* position: fixed;
  top: 0; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 75px;
  width: 100vw;
  z-index: 100;
  /* background-color: #343d40;
  opacity: 0.9; */
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

nav li a {
  font-size: 1.15rem;
  font-weight: bolder;
  padding: 10px;
  text-decoration: none;
  color: rgba(247, 246, 241, 255);
  margin-right: 2.5rem;
}

li a:hover,
li a:focus {
  color: #fff56d;
  text-decoration: underline;
  outline: none;
}

@media only screen and (max-width: 500px) {
  nav {
    margin-right: 0;
  }

  ul {
    justify-content: space-around;
  }

  li a {
    margin-right: 0;
    padding: 2rem;
  }
}
